#box{
    margin-top: 10%;
}

#form {
    background-color: #ffffff;
    margin-top: 60px;
}

.calendar {
    max-width: 800px;
    max-height: 580px;
    margin: 0 auto;
    color: black;
    padding: 50px 0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    height: 500px;
}

.day,
.dayOfWeek,
.dayOfWeek1 {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 3px;
    border-radius: 5px;
}

.dayOfWeek1{
    background-color: #ccc;
    color: white;
    /* text-align: center; */
}
.Sat {
    background-color: rgb(32, 100, 227);
}

.Sun {
    background-color: rgb(248, 24, 24);
}

.day:hover {
    background-color: #f2f2f2;
}

.current-month {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: space-between;
}

.buttonId {
    text-align: center;
    padding-top: 30px;
    height: 50px;
    margin: auto;
}

.buttonId button {
    width: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
.buttonId .button1 {
    margin-right: 70px;
}
.buttonId .button2 {
    margin-left: 70px;
}


#popup-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#popup-inside {
    font-size: 20px;
    position: fixed;
    /* top: 25%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 80%; */
    /* max-width: 400px; */
    /* height: auto; */
    background-color: aliceblue;
    z-index: 9999;
    transition: .1s;
    padding: 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
 /* Firefox 対応 */
 scrollbar-width: none;
    height: 70%;
    margin-top: 23%;
    border-radius: 5%;
    width: 620px;
}

#close {
    float: right;
}

.draw_diary {
    height: 550px;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

#scroll{
    /* width: 80%; */
    float: left;
    margin-top:10px;
    margin-bottom: 10px;
}

.content{
    /* overflow-y:scroll; */
    width: 605px;
    height: 680px;
    padding-left: 10px;
}

.user_icon{
    float:left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user_name{
    font-size:25px;
    padding-top:17px;
    padding-left:15px;
    float: left;
    color: black;
}

.like{
    float: right;
    margin-top:10px;
    margin-right:10px;
}

.fas{
    color:#e54747;
}

.fa-regular {
    margin-top: 25px;
}

.far{
    margin-top: 25px;
}

.fa-heart{
    font-size: 35px;
    color: black;
}

.like-count{
    font-size: 30px;
}

#scroll button{
    background-color:transparent;
    border:none;
    cursor: pointer;
    outline:none;
    padding:0px;
}

.comment{
    float: right;
    margin-top: 10px;
    margin-right:7px;
    width: 58px;
}

.fa-comment{
    font-size: 35px;
    color:black;
    text-decoration: none;
}

.comment-count{
    font-size: 30px;
}

.draw_diary{
    clear: both; 
    width: 100%;
}

.draw{
    border-radius: 0%;
    height: 500px;
    margin-top: 5px;
    width: 95%;
}
.new {
    background:repeating-linear-gradient(
    45deg,
    #fffe00,
    #fffe00 8px,
    #fff 0,
    #fff 18px   
    );
}

.diary{
    background-image: url(/static/images/diary_line_less.jpg);
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 202px;
    width: 576px;
    margin: 0;
    line-height: 2.17;
}

.button1 {
	display: block;
	margin: auto;
	padding: 13px 22px;
	text-align: center;
	position: relative;
	border-radius: 5px;
	border: 1px solid #27acd9;
	font-weight: bold;
	letter-spacing: 2px;
	background: transparent;
	color: #27acd9;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
    width: 65%;
}
.button1:hover {
	color: #fff;
	background: #27acd9;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.button1:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: light 0.5s 0s linear;
}
.button1::before {
	content: '';
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #000000;
	box-shadow: 0 0 50px 30px #0a0a0a;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.button2 {
	display: block;
	margin: auto;
	padding: 13px 22px;
	text-align: center;
	position: relative;
	border-radius: 5px;
	border: 1px solid #27acd9;
	font-weight: bold;
	letter-spacing: 2px;
	background: transparent;
	color: #27acd9;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
    width: 65%;
}
.button2:hover {
	color: #fff;
	background: #27acd9;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.button2:hover::before {
	-webkit-animation: sh02 0.5s 0s linear;
	-moz-animation: sh02 0.5s 0s linear;
	animation: light 0.5s 0s linear;
}
.button2::before {
	content: '';
	display: block;
	width: 0px;
	height: 86%;
	position: absolute;
	top: 7%;
	left: 0%;
	opacity: 0;
	background: #000000;
	box-shadow: 0 0 50px 30px #0a0a0a;
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
}