body{
    margin:0;
    padding:0;
}

img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

p{
    margin: 0;
}


/* main{
    width: 500px;
    margin:0 auto;
} */

#popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  #popup-inside {
    margin: auto;
    margin-top: 350px;
    text-align: center;
    height: 200px;
    width: 30%;
    max-width: 700px;
    padding: 10px;
    position: relative;
  }
    
  #close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
  }

#group-nav{
    width: 10%;
    float: left;
    margin-top:70px;
}

.group-icon{
    border: solid 3px #000000;
    margin-bottom: 5px;
}

.fa-plus{
    -webkit-text-stroke: 3px #000000;
    font-size:60px;
    color:#ffffff;
    border-radius: 50%;
    border-color: #ffffff;
}

#scroll{
    width: 80%;
    float: left;
    /* margin-top:10px; */
    margin-bottom: 10px;
}

.content{
    margin-top:10px;
}

.user_icon{
    float:left;
}

.user_name{
    color:#ffffff;
    font-size:25px;
    padding-top:17px;
    padding-left:5px;
    float: left;
}

.like{
    float: right;
    margin-top:10px;
    margin-right:10px;
}

.fas{
    color:#e54747;
}

.far{
    color:#ffffff;
}

.fa-heart{
    font-size: 35px;
}

.like-count{
    color:#ffffff;
    font-size: 30px;
}

button{
    background-color:transparent;
    border:none;
    cursor: pointer;
    outline:none;
    padding:0px;
}

.comment{
    float: right;
    margin-top: 10px;
    margin-right:7px;
    width: 58px;
}

.fa-comment{
    font-size: 35px;
    color:#ffffff;
    text-decoration: none;
}

.comment-count{
    color: #ffffff;
    font-size: 30px;
}

.draw_diary{
    clear: both;
    
    width: 100%;
}

.draw{
    border-radius: 0%;
    height: 500px;
    margin-top: 5px;
    width: 100%;
}

.diary{
    background-color: red;
    height: 200px;
    width: 100%;
}
/* グループ作成*/
#popup-inside{
    background-color: #F0FFFF;
}

#group-form h3{
    font-size: 20px;
}
.margin{
    margin: auto;
}
#button{
    float: right;
    background-color: #165E83;
    color: #ffffff;
}