h4 {
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
}

.account-form {
    padding-right: 140px;
    padding-left: 300px;
    display: flex;
    background-color: rgba(217, 217, 217, 1);
    width: 600px;
    height: 85px;
    padding-left: 50px;
    margin-bottom: 18px;
}

.account-form .circle {
    width: 70px;
    height: 70px;
    background-color: pink;
    border-radius: 50%;
    margin: auto 0;
}

.account-form h4 {
    color: black;
    margin: auto 0;
    font-size: 25px;
    padding-left: 25px;
}

#button {
    display: inline-flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 160px;
}

.edit {
    display: block;
    width: 280px;
    background: transparent;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}