/* ポップアップ用のスタイル */
#members-popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#delete-popup-content {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
}

#popup-inside {
    text-align: center;
    height: 300px;
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 15% auto;
    padding: 10px;
    position: relative;
}

#close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}
#close1 {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    /* ウィンドウの幅が小さい場合のスタイル調整 */
    #popup-inside {
        width: 90%; /* ウィンドウの90%までの幅に制限 */
        margin: 5% auto; /* 上下のマージンを調整 */
    }
}

img{
    width: 100px;
    height: 100px;
}

.grp{
    width: 75%;
    margin: auto;
    padding: 10px;
    height: 120px;
    background-color: #fff;
}

.grp img{
    float: left;
}

.grp p{
    margin-top:20px;
    font-size: 24px;
    margin-left: 30px;
    float: left;
}

.sum{
    float: right;
    flex-flow: column;
    width: 20%;
}

.add , .del{
    width: 180px;
    margin-top: 15px;
    margin-right: 50px;
}
