body {
    background-color: #A5A0CF; /* 背景色 */
    color:#000000;
}
.container {
    margin-top: 100px;
}
.password_form{
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password_form h2 {
    text-align: center;
}

.form-group_row{
    margin: auto;
    width: 20%;
}

.btn_btn-primary_btn-block{
    margin: auto;
    width: 100%;
}

pre{
    width: 90%;
}

.reset{
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}