.wrapper {
    display: flex;
}

.search {
    margin-top: 45%;
    margin-bottom: 30px;
    display: flex;
}

.request {
    margin-bottom: 30px;
    width: 100%;
    height: 130px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.request p, button {
    font-size: 20px;
}

.top {
    width:110px;
    height:110px;
    padding-top:10px;
    padding-left:10px;
}

.top img{
      border-radius: 200px;
}

.user-info {
    width: 450px;
}

.approve {
    width:200px;
}

.hamburger-menu li {
    margin: 30px 50px;
    text-align: center;
}

