body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 50px;
}
.form-signup {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-signup h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-signup button[type="submit"] {
    width: 100%;
}

.deco-file label{
    display: inline-block;
    border: 2px solid #1E88E5;
    color: #1E88E5;
    text-align: center;
    padding: 20px 40px;
}