body{
    font-family: "Hiragino Sans";
    text-align: center;
    background-color: #B0E0E6;
}

header{
    margin-top: 170px;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    font-size: 30px;
}

main{
    font-size: 17px;
    text-align: center;
}

main #mid{
    padding: 40px;
    margin: auto;
    width: 30%;
    background-color: #F0FFFF;
}

main #mid table tr{
    margin-top: 20px;
    color: #000000;
}

main #mid table tr th{
    width: 200px;
}

main #mid table tr td{
    width: 400px;
    color: #000000;
}

.text{
    height: 24px;
    width: 60%;
}

.text2{
    height: 24px;
    width: 60%;
}

.button{
    margin-right: 20px;
}

.button,.button2{
    background-color: #165E83;
    color: #fff;
    margin-top: 50px;
    font-size: 13px;
    height: 29px;
    width: 25%;
}

.text2, .button, p{
    margin-top: 20px;
}

main #mid p{
    color: #000000;
}

#radio{
    color: #000000;
    padding: 0 2px;
    margin-top: 20px;
}

#color{
    color: #ffffff;
}

.form-select-wrap{
    margin-top: 20px;
    align-items: center;
}

.form-select-wrap > select{
    padding: 8px 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
}