body {
    font-family: "MS Mincho";
    margin: 0;
    background-color: #222222;
}
/*ここからヘッダー*/
header{
    background-color: #555555;
    height: 120px;
}

header #logo{
    font-size: 50px;
    color: #ffffff;
    padding: 30px;
}
/*ここまでがヘッダー*/
/*ここからメイン*/
main{
    text-align: center;
}

main #box{
    margin: auto;
    width: 60%;
    background-color: #ffffff;
}

main #foot{
    margin-top:50px;
    margin-right: 150px;
    float: right;
    font-size: 25px;
    color: #ffffff;
}
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;
}
/*ここまでがメイン*/
/*ここからフッター*/
footer{
    width: 100%;
    background-color: #555555;
    text-align: center;

    position: absolute;
    bottom: 0;
}

footer  small{
    color: #ffffff;
}

