body {
    font-family: 'Montserrat Subrayada', sans-serif;
    margin: 0;
    background-color: #fffaf0;
}
/* 
.wrapper{
    background-color: #bbb;
} */

/*ここからヘッダー*/
header{
    margin: auto;
    /* background-color: #bbb; */
    height: 120px;
    margin-right: 50%;
}

header .logo{
    margin-top: -20px;
    margin-left: 20px;
    width: 35%;
}


/*ここまでがヘッダー*/
/*ここからメイン*/
main{
    text-align: center;
    /* background-color: #bbb; */
}

main #box{
    margin: auto;
    width: 60%;
}

#side{
    float: right;
    font-size: 30px;
    list-style: none;
    margin-top: -130px;
}

.side-list {
    text-decoration: none;
    color: rgba(255,255,255);
    /* width: 5%; */
 }  

 .navbar {
    position:  absolute;        /* 要素の配置方法を指定 */
    background-color: rgba(0,0,0,0.3);     /* 背景色指定 */
    /* opacity: 0.4; */
    right:  50px;                /* 右からの位置指定 */
    top: 50px;
 }

 .openbtn4{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#000000;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
  }
  
.openbtn4.active {
  margin-left: 330px;
}

  /*ボタン内側*/
  .openbtn4 span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 5px;
    background: #fff;
      width: 45%;
    }
  
  .openbtn4 span:nth-of-type(1) {
    top:13px; 
  }
  
  .openbtn4 span:nth-of-type(2) {
    top:19px;
  }
  
  .openbtn4 span:nth-of-type(3) {
    top:25px;
  }
  
  .openbtn4 span:nth-of-type(3)::after {
    content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:5px;
    left:-2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  
  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  
  .openbtn4.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn4.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn4.active span:nth-of-type(3){
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  
  .openbtn4.active span:nth-of-type(3)::after {
    content:"Close";/*3つ目の要素のafterにClose表示を指定*/
      transform: translateY(0) rotate(-45deg);
    top:5px;
    left:4px;
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    position: relative; 
    /* background: #D54884; */
    cursor: pointer;
  }

  /*========= レイアウトのためのCSS ===============*/
  
  a{
    color: #333;
    text-decoration: none;
    font-family: math;
    font-size: 40px;
    font-weight: 100;
    /* font-family: 'Montserrat Subrayada', sans-serif; */
  }
  
  .lead{
    margin:20px 0 0 0;
  }
  
  .btn-block{
    width:200px;  
    padding: 30px;
  }

.wrapper{
    box-sizing: border-box;
}
/*ここまでがメイン*/
/*ここからフッター*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #bbb; 
    text-align: center;
  }

footer small{
    color: #ffffff;
}

