p{
	margin: 0;
}

img{
	height: 100%;
	float: left;
}

#box{
	margin:100px auto;
	width: 100%;
}

#follow-button{
	border: 1px solid #27acd9;
    background-color: #ffffff;
    border-radius: 5px;
    color: #27acd9;
    margin-top: 50px;
    margin-left: 96px;
}

#follow-form {
    height: 130px;
    border: 1px solid;
}

#user-info{
	float: left;
    margin-top: 38px;
    margin-left: 10px;
}

#search-form{
	height: 70%;
}

#searchWrap{
	border: 1px solid;
	height: 35px;
	border-radius: 5px;
}

#search{
	width: 90%;
	border: none;
	height: 100%;
    padding: 0px;
	border-radius: 5px;
}

#search-button{
	border:1px solid #27acd9;
	color: #27acd9;
	background-color: #ffffff;
	border-radius: 5px;
	margin-left: 15px;
}