<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css\account.css">
</head>
<body>
  <header>
    <h1>アカウント作成</h1>
  </header>

  <main>
      <div class ="wrapper">
    <div id = "mid">
        <input type="text" class="text" value="名前(漢字)"><br>
        <input type="text" class="text2" value="名前(ｶﾀｶﾅ)"><br>
        <input type="text" class="text2" value="ユーザ名"><br>
        <div class="form-select-wrap">
            <select class="birthday-year">
            </select>
             /
    <select class="birthday-month">
    </select>
    /
    <select class="birthday-day">
    </select>
        </div>
        <input type="radio" name="1">男
        <input type="text" class="text2" value="address"><br>
        <input type="text" class="text2" value="password"><br>
        <input type="text" class="text2" value="password"><br>
        <input type="submit" class="button" value="ログイン">
        <input type="submit" class="button2" value="新規作成">
    </div>
    </div>
  </main>

  <footer>
  </footer>
    <p><a href = "index.html"></a></p>
    <script src="js/app.js"></script>
  </body>
</html>