<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css\accountConf.css">
</head>
<body>
  <header>
    <h1>アカウント作成</h1>
  </header>

  <main>
      <div class ="wrapper">
          <div id = "mid">
            <table>
                <tr><th>名前(漢字):</th>
                    <td></td>
            </tr>
            <tr>
                <th>名前(ｶﾀｶﾅ):</th>
                <td></td>
            </tr>
            <tr>
                <th>ユーザ名:</th>
                <td></td>
            </tr>
            <tr>
                <th>生年月日:</th>
                <td></td>
            </tr>
            <tr>

                <th>性別:</th>
                <td>
                </td>
            </tr>
            <tr>
                <th>メールアドレス:</th>
                <td></td>
            </tr>
            <tr>
                <th>パスワード:</th>
                <td></td>
            </tr>
            <tr>
                <th>パスワード(確認):</th>
                <td></td>
            </tr>

        </table>
        <input type="submit" class="button" value="戻る">
        <input type="submit" class="button2" value="作成する">
    </div>
    </div>
  </main>

  <footer>
  </footer>
    <p><a href = "login.html"></a></p>
    <script src="js/app.js"></script>
  </body>
</html>