{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
    
</head>
<body>
<div id="foot">
    <a href="/Snapsketch/templates/myPage.html" class="mypage" target="_self"><p>マイページ</p></a>
    <a href="/Snapsketch/templates/myPage.html" class="mypage" target="_self"><p>カレンダー</p></a>
    <a href="/Snapsketch/templates/myPage.html" class="mypage" target="_self"><p>ログアウト</p></a>
</div>
<div class="wrapper">
    <header>
            <div id = "logo">Snap Sketch</div>
    </header>
    <main>
        
        <!-- <div id = "foot">
            <p>マイページ</p><br>
            <p>カレンダー</p><br>
            <p>ログアウト</p>
        </div> -->
        <!-- ここから中身作成 -->
        <div id = "box">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block footer %}
    
    {% endblock footer %}
</div>
{% block js %}{% endblock %}
</body>
</html>