{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock %}
{% block content %}
  <div class="btn">
    <div class="buttonId" id="buttonId">
      <input type="button" class="button1" onclick="showPreviousMonth()" value="◀" />
    </div>

    <div class="calendar" id="calendar"></div>

    <div class="buttonId" id="buttonId">
      <input type="button" class="button2" onclick="showNextMonth()" value="▶" />
    </div>
  </div>
  <div id="popup-wrapper">
    <div id="popup-inside">
      {% comment %} DOMで作成 {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    var datesFromDjango = JSON.parse('{{ dates|escapejs }}')
    console.log(`datesFromDjango:${datesFromDjango}`)
  </script>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block side %}
  <!-- サイドバーの内容をそのまま残す -->
  <li>
    <a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a>
  </li>
  <li>
    <a href="{% url 'enikki:timeline' %}" class="side-list">タイムライン</a>
  </li>
  <li>
    <a href="{% url 'enikki:create' %}" class="side-list">絵日記作成</a>
  </li>
  <li>
    <a href="{% url 'enikki:friend' %}" class="side-list">フレンド一覧</a>
  </li>
  <li>
    <a href="{% url 'enikki:group' %}" class="side-list">グループ一覧</a>
  </li>
{% endblock %}

{% block footer %}
  <footer>
    <div id="kotei">
      <small>&copy;2023 SnapSketch</small>
    </div>
  </footer>
{% endblock %}
