{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
  <div id="calendar"></div>
  <div id="popup-wrapper">
    <div id="popup-inside"></div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'frontend/page2.js' %}"></script>
{% endblock %}

{% block side %}
  <!-- サイドバーの内容をそのまま残す -->
  <li>
    <a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a>
  </li>
  <li>
    <a href="{% url 'enikki:timeline' %}" class="side-list">タイムライン</a>
  </li>
  <li>
    <a href="{% url 'enikki:create' %}" class="side-list">絵日記作成</a>
  </li>
  <li>
    <a href="{% url 'enikki:friend' %}" class="side-list">フレンド一覧</a>
  </li>
  <li>
    <a href="{% url 'enikki:group' %}" class="side-list">グループ一覧</a>
  </li>
{% endblock %}

{% block footer %}
  <footer>
    <div id="kotei">
      <small>&copy;2023 SnapSketch</small>
    </div>
  </footer>
{% endblock %}
