{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock %}
{% block content %}
  <div class="btn">
    <div class="buttonId" id="buttonId">
      <input type="button" class="button1" onclick="showPreviousMonth()" value="◀" />
    </div>

    <div class="calendar" id="calendar"></div>

    <div class="buttonId" id="buttonId">
      <input type="button" class="button2" onclick="showNextMonth()" value="▶" />
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    var datesFromDjango = JSON.parse('{{ dates|escapejs }}')
  </script>
  <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block footer %}
  <footer>
    <div id="kotei">
      <small>&copy;2024 SnapSketch</small>
    </div>
  </footer>
{% endblock %}