{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
</head>
<body style="background-color: darkgray;">
   <header>
      <div id = "logo">Snap Sketch</div>
   </header>
   <div id = "wrapper">
      <form id="save-form" action="" method="post">
         <div id="draw_nav">
            <ul id="color_nav">
               <li>
                  <div class="cbox">
                     <input type="text" id="color" name="color" value="#974bfb"/>
                     <div id="picker"></div>
                  </div>
               </li>
               <li>
                  <input type="button" id="eraser" value="消しゴム" onclick="eraser()">
               </li>
               <li>
               <input type="button" id="clear" value="消す" onclick="clearCanvas()">
               </li>
               <li>
                  <input type="submit" id="save" href="{% url 'enikki:enikkiCreate' %}">保存する</a>
               </li>
               <li>
                  <input type="button" id="end" href="#">終了する</a>
               </li>
            </ul>
         </div>
         <div id="canvas"></div>
      </form>
   </div>
   <!-- <canvas id="canvas" width="1344" height="700"></canvas> -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.2.0/lib/p5.min.js"></script>
<script src="https://unpkg.com/ml5@0.6.0/dist/ml5.min.js"></script>
<script src="{% static 'js/canvas.js' %}"></script>
</body>
</html>