{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/comment.css' %}" />
{% endblock %}

{% block content %}
  <div id="post-comment-wrap">
    <article class="content" data-page="{{ post.page }}">
      <div class="content_header">
        <img class="user_icon" src="/media/{{ post.post__user__user_icon_path }}" alt="ユーザーアイコン" />
        <p class="user_name">{{ post.post__user__username }}</p>
        <div class="like">
          {% if post.is_liked %}
          <button type="button" class="ajax-like">
          <!-- すでにいいねしている時はfasクラス -->
          <i class="fas fa-heart text-danger"></i>
          </button>
          {% else %}
          <button type="button" class="ajax-like">
            <!-- いいねしていないときはfarクラス -->
            <i class="far fa-heart text-danger"></i>
          </button>
          {% endif %}
          <!-- いいねの数 -->
          <span class="like-count">{{ post.post__like_count }}</span>
        </div>
        <div class="comment">
          <!-- グループ名とページ番号送信 -->
          <a class="fa-regular fa-comment" href="{% url 'enikki:comment' %}?page={{ post.page }}"></a>
          <span class="comment-count">{{ post.post__comment_count }}</span>
        </div>
      </div>
      <section class="draw_diary">
        <img class="draw" src="/media/{{ post.post__sketch_path }}" alt="絵日記の絵" />
        <p class="diary">{{ post.post__diary }}</p>
      </section>
    </article>
      <!-- ここからコメント追加ポップ -->
      <div class="popup_area">
        <div class="popup-wrapper">
          <input id="open" type="checkbox"/>
          <label for="open" class="open-btn">コメントを書く</label>
          <label for="open" class="overlay"></label>
          <div class="popup-content">
            <div class="reply">
              <h2>コメント返信</h2>
              <hr width="400">
            </div>
            <textarea name="comment" id="comment"></textarea>
            <input type="submit" id="toukou" value="返信"/>
          </div>
        </div>
      </div>

      <div class="comment-area">
        {% if error %}
        <p id="error">{{ error }}</p>
        {% endif %}
        {% for comment in comments %}
        <div class="comment-content">
          <div class="comment-content2">
            <img class="user-icon" src="/media/{{ comment.user__user_icon_path }}" alt="アイコン" />
            <span class="comment-name">{{ comment.user__username }}</span><br/>
          </div>
            <span class="comment-sentence">{{ comment.comment }}</span>
        </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}

{% block side %}
<!-- ナビゲーションバー -->
<div class="navbar" style="display: block;">
  <!-- ハンバーガーメニューボタン -->
  <div class="openbtn4">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- サイドバーの内容をそのまま残す -->
  <div class="hamburger-menu">
<li><a href="{% url 'enikki:mypage' %}" class="side-list">mypage</a></li>
<li><a href="{% url 'enikki:timeline' %}" class="side-list">timeline</a></li>
<li><a href="{% url 'enikki:calendar' %}" class="side-list">calendar</a></li>
<li><a href="{% url 'enikki:create' %}" class="side-list">create</a></li>
<li><a href="{% url 'enikki:friend' %}" class="side-list">friends</a></li>
<li><a href="{% url 'enikki:group' %}" class="side-list">groups</a></li>
</div>
</div>
{% endblock  %}

{% block js %}
  <script src="{% static 'js\jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js\comment.js' %}"></script>
  <script src="{% static 'js/base3.js' %}"></script>
{% endblock %}
