{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock  %}

{% block content %}
<div id = "haba">
    <div id = "flex">
        <input type = "submit" class="enikki" value="絵日記を作成する+">
        <textarea name = "sentence"></textarea>
    </div>
    <input type = "submit" class = "toukou" value = "投稿">
</div>
{% endblock  %}

{% block footer %}
<footer>
    <div id = "kotei">
        <small>&copy;2023 SnapSketch</small>
    </div>
</footer>
{% endblock %}

