{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock  %}

{% block content %}
<form id="post-form" action="{% url 'enikki:create' %}" method="post">
    {% csrf_token %}
    <div id = "flex">
        {% if not canvasFile %}
        <a id="sketch" href="{% url 'enikki:canvas' %}">絵日記を作成<br>＋</a>
        {% else %}
        <img id="sketch" src="{{ canvasFile }}" style="padding:0px;" height="100">
        {% endif %}
        <textarea name = "sentence"></textarea>
    </div>
    <input type = "submit" class = "toukou" value = "投稿">
</form>
{% endblock %}

{% block side %}
    <li><a href="{% url 'enikki:timeline' %}" class="side-list">タイムライン</a></li>
    <li><a href="{% url 'enikki:calendar' %}" class="side-list">カレンダー</a></li>
    <li><a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a></li>
    <li><a href="{% url 'enikki:friend' %}" class="side-list">フレンド一覧</a></li>
    <li><a href="{% url 'enikki:group' %}" class="side-list">グループ一覧</a></li>
{% endblock %}

{% block footer %}
<footer>
    <div id = "kotei">
        <small>&copy;2023 SnapSketch</small>
    </div>
</footer>
{% endblock %}