{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/friend.css' %}" />
{% endblock %}
{% block content %}
  <div id="register">
    <h3>フレンド一覧</h3><br />

    {% for friend in friends %}
      <div class="account-form">
        <div class="circle">{{ friend.follower.user_icon_path.url }}</div>
        <h4>{{ friend.follower.username }}</h4>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block side %}
  <li><a href="{% url 'enikki:timeline' %}" class="side-list">タイムライン</a></li>
  <li><a href="{% url 'enikki:calendar' %}" class="side-list">カレンダー</a></li>
  <li><a href="{% url 'enikki:create' %}" class="side-list">絵日記作成</a></li>
  <li><a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a></li>
  <li><a href="{% url 'enikki:group' %}" class="side-list">グループ一覧</a></li>
{% endblock %}

{% block footer %}
  <footer>
    <div id="kotei">
      <small>&copy;2023 SnapSketch</small>
    </div>
  </footer>
{% endblock %}
