{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css\group.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300 rel="stylesheet">

{% endblock %}

{% block content %}
<h2>グループ一覧</h2>
{% if error %}
<p>{{ error }}</p>
{% else %}
{% for group in groups %}
<div class="grp">
  <img src="/media/{{ group.group.group_icon_path }}" />
  <div class="sum">
    <button class="add" data-group-name="{{ group.group.groupname }}">メンバーを追加する</button>
    <button class="del" data-group-name="{{ group.group.groupname }}">メンバーを削除する</button>
  </div>
  <p class="group-name">{{ group.group.groupname }}</p>
</div>
{% endfor %}
{% endif %}
<!-- ポップアップ(友達追加)表示 -->
<div id="members-popup" style="display: none;">
  <div id="popup-inside">
    <div id="close">x</div>
    {% csrf_token %}
    <h2>フレンド一覧</h2>
    <hr width="400">

    {% if friends %}
    <!-- 友達がいる場合の表示 -->
    {% for friend in friends %}
    <div class="friend">
    <input type="checkbox" id="scales" name="scales">
    <p>{{ friend.followee.username }}</p>
  </div>
    {% endfor %}
    <input id="invite" type="submit" name="action" value="追加">
    {% else %}
    <!-- 友達がいない場合の表示 -->
    <p>現在フレンドはいません。</p>
    <!-- 追加ボタンを無効化 -->
    <input id="invite" type="submit" value="追加" disabled>
    {% endif %}
  </div>
</div>
</div>
<!-- ポップアップ(友達削除)表示 -->
<div id="delete-popup-content" style="display: none;">
  <div id="popup-inside">
    <div id="close1">×</div>
    {% csrf_token %}
    <h2>グループメンバー一覧</h2>
    <hr width="400">
    <ul id="members-list">
    </ul>
  </div>
</div>
<!-- <div class="create">  
  <a href="{% url 'enikki:create' %}" class="btn btn--orange btn--circle btn--circle-a btn--shadow">create</a>
</div> -->
{% endblock %}

{% block footer %}
<footer>
  <div id="kotei">
    <small>&copy;2024 SnapSketch</small>
  </div>
</footer>
{% endblock %}
{% block js %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/group.js' %}"></script>
<script src="{% static 'js/base3.js' %}"></script>
{% endblock %}