<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="css\groupCreate.css">
</head>
<body>
  <header>
      <div id = "logo"><a href="index.html" >Snap Sketch</a></div>
  </header>

    <div id = "foot">
        <p>マイページ</p><br>
        <p>カレンダー</p><br>
        </div>

  <div class ="wrapper">

    <main>
          <div id = "mid">
              <div id = "grp">
              <h1>グループ作成</h1>
            <table>
            <tr>
                <th>グループ名:</th>
                <td><input type="text" class="text2" value=""></td>
            </tr>
            <tr>
                <th>概要:</th>
                <td><input type="text" class="text2" value=""></td>
            </tr>

        </table>
        <input type="submit" class="button" value="戻る">
        <input type="submit" class="button2" value="作成する">
              </div>
    </div>
    </main>


  <footer>
      <div id = "kotei">
        <small>&copy;2023 SnapSketch</small>
    </div>
  </footer>
    <p><a href = "index.html"></a></p>
    <script src="js/app.js"></script>
    </div>
  </body>
</html>
