<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
  <link rel="stylesheet" href="css\group.css">
</head>
<body>
<header>
        <div id = "logo">Snap Sketch</div>
</header>

<div class="wrapper">

    <div id = "foot">
        <p>マイページ</p><br>
        <p>カレンダー</p><br>
    </div>

    <main>
    <!-ここから中身作成->
    <div id = "box">
        <h2>グループ一覧</h2>
        <div class="grp">
            <img src = "images/idol_koisuru_boy_man.png">
            <p>グループ1</p>
        </div>
        <div class="grp">
            <img src = "images/idol_koisuru_boy_man.png">
            <p>グループ1</p>
        </div>
        <div class="grp">
            <img src = "images/idol_koisuru_boy_man.png">
            <p>グループ1</p>
        </div>
    </div>
</main>
<footer>
    <div id = "kotei">
        <small>&copy;2023 SnapSketch</small>
    </div>
</footer>
</div>
<script src="js/group.js"></script>
</body>
</html>