{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css\group.css' %}" />
{% endblock %}

{% block content %}
<h2>グループ一覧</h2>
{% if error %}
<p>{{ error }}</p>
{% else %}
{% for group in groups %}
<div class="grp">
  <img src="/media/{{ group.group.group_icon_path }}" />
  <div class="sum">
    <button class="add" data-group-name="{{ group.group.groupname }}">メンバーを追加する</button>
    <button class="del" data-group-name="{{ group.group.groupname }}">メンバーを削除する</button>
  </div>
  <p class="group-name">{{ group.group.groupname }}</p>
</div>
{% endfor %}
{% endif %}
<!-- ポップアップ(友達追加)表示 -->
<div id="members-popup" style="display: none;">
  <div id="popup-inside">
    <div id="close">x</div>
    {% csrf_token %}
    <h2>フレンド一覧</h2>
    {% if friends %}
    <!-- 友達がいる場合の表示 -->
    {% for friend in friends %}
    <input type="checkbox" id="scales" name="scales">
    <p>{{ friend.followee.username }}</p>
    {% endfor %}
    <input id="invite" type="submit" name="action" value="追加">
    {% else %}
    <!-- 友達がいない場合の表示 -->
    <p>現在フレンドはいません。</p>
    <!-- 追加ボタンを無効化 -->
    <input id="invite" type="submit" value="追加" disabled>
    {% endif %}
  </div>
</div>
</div>
<!-- ポップアップ(友達削除)表示 -->
<div id="delete-popup-content" style="display: none;">
  <div id="popup-inside">
    <div id="close1">×</div>
    {% csrf_token %}
    <h2>グループメンバー一覧</h2>
    <ul id="members-list">
    </ul>
  </div>
</div>
{% endblock %}

{% block side %}
<li>
  <a href="{% url 'enikki:timeline' %}" class="side-list">タイムライン</a>
</li>
<li>
  <a href="{% url 'enikki:calendar' %}" class="side-list">カレンダー</a>
</li>
<li>
  <a href="{% url 'enikki:create' %}" class="side-list">絵日記作成</a>
</li>
<li>
  <a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a>
</li>
<li>
  <a href="{% url 'enikki:friend' %}" class="side-list">フレンド一覧</a>
</li>
{% endblock %}

{% block footer %}
<footer>
  <div id="kotei">
    <small>&copy;2023 SnapSketch</small>
  </div>
</footer>
{% endblock %}
{% block js %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/group.js' %}"></script>
{% endblock %}