{% bootstrap_css %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-login">
            <h2>ログイン</h2>
            <form method="post" action="{% url 'signin' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">ユーザー名</label>
                    <input type="text" id="id_username" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">パスワード</label>
                    <input type="password" id="id_password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">ログイン</button>
            </form>
            <a href="{% url 'signup' %}">新規登録</a>
            <a href="{% url 'password_reset' %}">パスワードを忘れた方</a>
        </div>
    </div>
</body>
</html>
