{% bootstrap_css %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-login">
            <h2>ログイン</h2>
            <form method="post" action="{% url 'signin' %}" id="login-form">
                {% csrf_token %}
                <div class="mb-3">
                    <input
                        type="text"
                        id="id_username"
                        name="username"
                        class="form-control"
                        placeholder="ユーザー名">
                </div>
                <div class="mb-3">
                    <input
                        type="password"
                        id="id_password"
                        name="password"
                        class="form-control"
                        placeholder="パスワード">
                    <i
                        id="eye-icon"
                        class="fa-solid fa-eye position-absolute translate-middle top-50 end-0"></i>
                </div>
                <button type="submit" class="btn btn-primary">ログイン</button>
            </form>
            <hr>
            <a href="{% url 'signup' %}">新規登録</a>
            <a href="{% url 'password_reset' %}">パスワードを忘れた方</a>
        </div>
    </div>
    <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/706c0011db.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "js/jquery.validate.min.js" %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
