{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/myPage.css' %}" />
  {% endblock %}

{% block content %}
  <div class="myPageLeft">
    <div class="profile">
      <div class="profilePhoto">

        <div class="avatar">
          <img class="user_icon" src="{{ user_icon }}" alt="アバター表示" wight="130" height="193" />
        </div>

        <div class="avatarChange">
          <input type="file" id="iconInput" name ="iconInput"style="display: none;" accept="image/*">
          <label for="iconInput" class="change">アイコン変更</label>
        </div>
      </div>


      <div class="address">
        <div class="detail">
          <table class="table">
            <tr>
              <th>ユーザID：</th>
              <td>
                <input type="text" class="editField e1" size="37" value="{{ user_id }}" disabled>
              </td>
            </tr>
            <tr>
              <th>ユーザ名：</th>
              <td>
                <input type="text" class="editField e1" size="37" value="{{ username }}" disabled>
              </td>
              <td>
                <button class="detailChange1 editButton" type="button" value="1">編集</button>
              </td>
            </tr>
            <tr>
              <th>メールアドレス：</th>
              <td>
                <input type="text" id="text" class="editField e2" size="37" value="{{ email }}" disabled style="background-color: transparent">
              </td>
              <td>
                <button class="detailChange1 editButton" type="button" value="2">編集</button>
              </td>
            </tr>
            <tr>
              <th>パスワード：</th>
              <td>
                <input type="password" class="editField e3" size="37" value="{{ password }}" readonly>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="create">
  <a href="{% url 'enikki:create' %}" class="btn btn--orange btn--circle btn--circle-a btn--shadow">create</a>
</div>

{% endblock %}

{% block side %}


<!-- ナビゲーションバー -->
<div class="navbar" style="display: block;">
  <!-- ハンバーガーメニューボタン -->
  <div class="openbtn4">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- サイドバーの内容をそのまま残す -->
  <div class="hamburger-menu">
  <li>
    <a href="{% url 'enikki:timeline' %}" class="side-list">timeline</a>
  </li>
  <li>
    <a href="{% url 'enikki:calendar' %}" class="side-list">calendar</a>
  </li>
  <li>
    <a href="{% url 'enikki:create' %}" class="side-list">create</a>
  </li>
  <li>
    <a href="{% url 'enikki:friend' %}" class="side-list">friend</a>
  </li>
  <li>
    <a href="{% url 'enikki:group' %}" class="side-list">groups</a>
  </li>
  <li>
    <a href="{% url 'enikki:usersearch' %}" class="side-list">search</a>
  </li>
  <li>
    <a href="{% url 'enikki:request' %}" class="side-list">follow</a>
  </li> 
  </div>
</div>
{% endblock %}

{% block footer %}
  <!-- フッターの内容をそのまま残す -->
  <footer>
    <div id="kotei">
      <small>&copy;2024 SnapSketch</small>
    </div>
  </footer>
{% endblock %}

{% block js %}
  <script src="{% static 'js/base3.js' %}"></script>
{% endblock %}
