{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/request.css' %}">
{% endblock  %}

{% block content %}
<h2>フォローリクエスト</h2>
{% if not followers %}
<p>フォローリクエストがありません</p>
{% endif %}
{% for follower in followers %}
<div class="request-form">
    <img src="/media/{{ follower.followee__user_icon_path }}" width="110px" height="110px" class="icon">
    <div class="user-info">
        <p>ユーザーID:<span class="user-id">{{ follower.followee__user_id }}</span>
        <br>ユーザー名:<span class="username">{{ follower.followee__username }}</span>
        <br>からフレンド申請があります。</p>
    </div>
    <div class="approve">
        <input type="button" class="allow" name="1" value="承認">
        <input type="button" class="delete" name="2" value="拒否">
    </div>
</div>
{% endfor %}
{% endblock  %}

{% block js %}
<script src="{% static 'js/request.js' %}"></script>
{% endblock %}
    
{% block footer %}
<footer>
    <div id = "kotei">
        <small>&copy;2024 SnapSketch</small>
    </div>
</footer>
{% endblock %}
