{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/groupCreate.css' %}">
{% endblock %}

{% block content %}
        <div id="popup-wrapper">
            <div id="popup-inside">
                <div id="close">x</div>
                <form method="post" id="group-form" action="{% url 'enikki:ajax_group' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                        <h1>グループ作成</h1>
                        <table>
                            <tr>
                                <th>グループ名:</th>
                                <td><input type="text" id="text" name="groupname" value=""></td>
                            </tr>
                            <tr>
                                <th>アイコン:</th>
                                <td><input type="file" name="avator"/></td>
                            </tr>
                            <tr>
                                <th>概要:</th>
                                <td><input type="text" class="text2" value=""></td>
                            </tr>
                        </table>
                        <input type="submit" id="createBtn" value="作成する">
                </form>
            </div>
        </div>
        <div id="group-nav">
            {% if group %}
            <img class="group-icon" src="{% static 'images/test_icon.jpeg' %}" alt="グループアイコン">
            {% endif %}
            <i class="fa-solid fa-plus"></i>
        </div>
        <div id="scroll">
            {% for post in posts %}
                <article class="content" data-group="{{ post.group_name }}" data-page="{{ post.page }}">
                    <div class="content_header">
                        <img class="user_icon" src="{% static 'images/test_icon.jpeg' %}" alt="ユーザーアイコン">
                        <p class="user_name">{{ post.user_name }}</p>
                        <div class="like">
                            {% if is_user_liked %}
                            <button type="button" class="ajax-like">
                            <!-- すでにいいねしている時はfasクラス -->
                            <i class="fas fa-heart text-danger"></i>
                            </button>
                            {% else %}
                            <button type="button" class="ajax-like">
                            <!-- いいねしていないときはfarクラス -->
                            <i class="far fa-heart text-danger"></i>
                            </button>
                            {% endif %}
                            <!-- いいねの数 -->
                            <span class="like-count">{{ post.like_count }}</span>
                        </div>
                        <div class="comment"><!--グループ名とページ番号送信-->
                            <a class="fa-regular fa-comment" href="{% url 'enikki:comment' %}?page={{ post.page }}"></a>
                            <span class="comment-count">{{ post.comment_count }}</span>
                        </div>
                    </div>
                    <section class="draw_diary">
                        <img class="draw" src="{% static 'images/test_icon.jpeg' %}" alt="絵日記の絵">
                        <p class="diary">{{ post.diary }}</p>
                    </section>
                </article>
            {% endfor %}
        </div>
{% endblock %}

{% block side %}
<li><a href="{% url 'enikki:mypage' %}" class="side-list">マイページ</a></li>
<li><a href="{% url 'enikki:calendar' %}" class="side-list">カレンダー</a></li>
<li><a href="{% url 'enikki:create' %}" class="side-list">絵日記作成</a></li>
<li><a href="{% url 'enikki:friend' %}" class="side-list">フレンド一覧</a></li>
<li><a href="{% url 'enikki:group' %}" class="side-list">グループ一覧</a></li>
{% endblock %}

{% block js %}
    <footer>
        <div id="kotei">
        <small>&copy;2023 SnapSketch</small>
        </div>
    </footer>
        <script src="{% static 'js\jquery-3.7.1.min.js' %}"></script>
        {% comment %} <script src="{% static 'js\infinite-scroll.pkgd.min.js' %}"></script> {% endcomment %}
        <script src="{% static 'js\timeline.js' %}"></script>
{% endblock %}