{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/usersearch.css' %}">
{% endblock %}

{% block content %}
<form id="search-form">
    {% csrf_token %}
    <dl class="search2">
        <dt><input type="text" id="search" name="search" placeholder="ユーザーIDを入力...." /></dt>
        <dd><input type="submit" id="search-button" value="検索"></dd>
    </dl>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'js/usersearch.js' %}"></script>
{% endblock %}

{% block footer %}
<footer>
    <div id="kotei">
        <small>&copy;2023 SnapSketch</small>
    </div>
</footer>
{% endblock %}